/* TODO
   Someone to have a look at my code and confirm it's not terrible
   Fix my comment on line 12 before submission
   Do some individual device testing with this code
   */

html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
}
body {
    /* not really sure if the min height and margin need to be here too, but it's not breaking anything so ¯\_(ツ)_/¯ */
    min-height: 100%;
    margin: 0;

    text-align:center;
    background: url(img/bg.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	/* hopefully this bit works better than just the image */
	background: -moz-linear-gradient(top,  #00ff00 0%, #ffffff 50%, #ff0000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00ff00), color-stop(50%,#ffffff), color-stop(100%,#ff0000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #00ff00 0%,#ffffff 50%,#ff0000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00ff00 0%,#ffffff 50%,#ff0000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00ff00 0%,#ffffff 50%,#ff0000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #00ff00 0%,#ffffff 50%,#ff0000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff00', endColorstr='#ff0000',GradientType=0 ); /* IE6-9 */

}

